# Operatori
Abbiamo già incontrato e anche utilizzato vari tipi di operatori, approfondiamoli un po' più nel dettaglio e introduciamo i mancanti.
## Operatori aritmetici
| Operatore | Nome |
| --------- | ------|
| \+|	Addizione	|
| \-| Sottrazione	|
| \* |	Moltiplicazione	|
| /	| Divisione	|
| %	| Modulo|	
| **| 	Esponenziale	|
| //	| Floor |

In [3]:
x = 10
y = 3

# Addizione
print(x + y)

# Sottrazione
print(x - y)

# Moltiplicazione
print(x * y)

# Divisione
print(x / y)

# Modulo (resto della divisione)
print(x % y)

# Esponenziale
print(x ** y)

# Floor (divisione ad intero e scarta il resto)
print(x // y)

13
7
30
3.3333333333333335
1
1000
3

#### Operatori aritmetici e stringhe
Cosa succede se proviamo a sommare un intero con una stringa?

In [6]:
numero = 7
parola = "gente"
# print(numero+parola)
# type(numero+parola)

Cosa accade se sommiamo due stringhe?

In [10]:
saluto = "ciao"
print(saluto + parola)
type(saluto + parola)

ciaogente

str

Cosa accade se proviamo a moltiplicare una stringa per un intero?
Attenzione: non è possibile con i float.

In [16]:
# Restituiscono lo stesso risultato
parola * 3
3 * parola

'gentegentegente'

## Operatori di assegnamento

| Operatore |
| --------- |
| = |
| +=|
| -= |
| *=	|
| /=	|

In [19]:
# Operatore di assegnamento puro
print("x = ",x)
z = x
print("z =", z)

# +=
# x = x + 5
x += 5
print("x = ",x)

# -=
# x = x - 5
x -= 5
print("x = ",x)

# *=
# x = x * 5
x *= 5
print("x = ",x)

# /=
# x = x / 5
x /= 5
print("x = ",x)

x =  10
z = 10
x =  15
x =  10
x =  50
x =  10.0

## Operatori di confronto
Gli operatori di confronto restituiscono sempre valori booleani, tipo **bool**.

| Operatore | Nome |
| --------- | ------|
| == |	Uguale	|
| != | Diverso	|
| > |	Maggiore	|
| <	| Minore	|
| >=	| Maggiore uguale |	
| <= | 	Minore uguale	|

In [22]:
# Uguale
print(x == y)

# Diverso
print(x != y)

# Maggiore
print(x > y)

# Minore
print(x < y)

# Maggiore uguale
print(x >= y)

# Minore uguale
print(x <= y)

False
True
True
False
True
False

## Operatori logici
Esattamente come coi numeri o le stringhe, anche le varibili booleane hanno degli operatori che si possono usare per combinare valori booleani. 
Ce ne sono diversi, vediamo i tre principali:

| Operatore | Descrizione |
| --------- | ------|
| and |	Ritorna **True** solo se entrambe le variabili sono vere	|
| or | Ritorna **True** se almeno una variabile è true	|
| not |	Nega il risultato, se la variabile è **False** ritorna **True**	|

**and** e **or** sono due operatori binari.

**not** è un operatore unitario.

### Tabelle di verità

#### and

| A   | B   | A and B |
|-----|-----|---------|
| True  | True  | True    |
| True  | False | False   |
| False | True  | False   |
| False | False | False   |

---

#### or

| A   | B   | A or B  |
|-----|-----|---------|
| True  | True  | True    |
| True  | False | True    |
| False | True  | True    |
| False | False | False   |

---

#### not

| A   | not A |
|-----|-------|
| True  | False |
| False | True  |

In [28]:
val1 = True
val2 = False

In [30]:
val1 and val2

False

In [32]:
val1 or val2

True

In [34]:
not val1

False

### Esercizio 6
Scrivere una condizione che sia vera se e solo se **x** e **y** sono uguali oppure uno è il doppio dell'altro.

In [37]:
x = 5
y = 10

x == y or (x == y*2 or y == x*2)

True

### Esercizio 7
Si possiede un nome utente e una password, restituire vero se e solo se l'utente inserisce correttamente le credenziali di login.

In [42]:
nome_utente = "user"
password = "1234"
nome_utente_inserito = input("Inserire nome utente:\n")
password_inserita = input("Inserire password:\n")

nome_utente == nome_utente_inserito and password == password_inserita

Inserire nome utente:
 user
Inserire password:
 1234

True

### Esercizio 8
Chiedere all'utente nome, cognome e anno di nascita.

Salutare l'utente, calcolare la sua età (facciamo finta che basti l'anno) e restituire **True** se l'utente è maggiorenne, **False** se è minorenne.

In [49]:
nome = input("Inserire il proprio nome\n")
cognome = input("Inserire il proprio cognome\n")
anno_di_nascita = input("Inserire il proprio anno di nascita")

print("Ciao " + nome + " " + cognome + ", benvenuto!")
età = 2025 - int(anno_di_nascita)
print("La tua età è:", età)
print("Tu sei maggiorenne: ", età > 18)

Inserire il proprio nome
 Nicolò
Inserire il proprio cognome
 Trebino
Inserire il proprio anno di nascita 2002

Ciao Nicolò Trebino, benvenuto!
La tua età è: 23
Tu sei maggiorenne:  True